.headerContainer {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-weight: 700 !important;
  color: #333 !important;
}

.actionButtons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.actionItem {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666;
}

.actionButtons .actionItem .actions {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.actionItem svg {
  color: #666;
}

.middleSectionRow {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #555;
}

.infoItem svg {
  color: #777;
}

.button {
  text-transform: none !important;
  border-radius: 20px !important;
  padding: 6px 16px !important;
}

.align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tabsContainer {
  display: flex;
  gap: 24px;
  height: 48px;
  max-width: 753px;
  align-items: center;
}

.tab {
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #1f2a37;
}

.badge {
  height: 22px;
  padding: 2px 10px;
  background: #e1effe;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #1f2a37;
}

.addTab {
  cursor: pointer;
}

.addTabText {
  color: #6b7280;
  font-size: 14px;
}
