.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 16px;

  width: 628px;

  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin-top: 32px;
}

.cardInfo .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  align-items: center;

  color: #000000;
}

.cardInfo .subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;

  color: #111928;
}

.chipContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  width: 96px;
  height: 25px;
  background: #f3f4f6 !important;
  border: none !important;
  border-radius: 0 !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.align1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.align2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 8px;
  background: #e1effe;
  border-radius: 10px;
}

.align3 {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.subContainer1 {
  margin-top: 24px;
}

.subContainer1 .overviewTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.subContainer1 .description {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  padding-left: 16px;
}

.subContainer1 .paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #5e6670;
}

.actionContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0px;
  gap: 16px;
}

.actionContainer .saveBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  background: #f3f4f6;
  border-radius: 8px;
  border: 0 !important;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.actionContainer .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  background: #1a56db;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}
