.mainContent {
  position: absolute;
  top: 0;
  left: 223px;
  width: 100%;
  padding: 0;
  background-color: #f3f4f6;
}

.mainContent2 {
  padding: 20px 40px;
}

.mainContent .mainContent2 .title {
  font-size: 36px !important;
  line-height: 130%;
  color: #4b5563;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
